* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  scroll-snap-align: start;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  margin: auto;
  width: auto;
  height: 10vh;
  background-color: #acc8e5;

  font-weight: 400;
  font-style: normal;

  justify-content: center;
}

.header-inside {
  align-items: center;
  display: flex;
  justify-content: center;
  width: clamp(300px, 50%, 700px);

  gap: clamp(1rem, 3vw, 3rem);
  text-decoration: underline;
  text-underline-offset: 0.5rem;

  background-color: #acc8e5;
}

a {
  text-decoration: none;
  color: #333;
}

.main-app-wrapper {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* для Internet Explorer и Edge */
  scrollbar-width: none; /* для Firefox */
}

.welcome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
  text-align: center;
  height: 90vh;
}

.welcome-item-background-1 {
  position: relative;
  background-color: #acc8e5;
  width: 100%;
  grid-area: 1 / 1 / 11 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/*мне физически плохо от этой части кода
господи как я с ней намучилась это просто ужас

*/

.h1-wrapper {
  display: inline-block;
  z-index: 1;
  position: relative;
  grid-column: 3 / 9;
  grid-row: 5;
  font-size: clamp(1.4rem, 5vw, 3.5rem);
  color: #333;
  
   padding: 0.6em 1.5em; 
  font-weight: 400;
  font-style: normal;
   background-color: #9ab4ce;
   border-radius: 10rem; 
}








.h2-wrapper {
  padding: 10%;
  border-radius: 9999px;
  background-color: #2e363d;
  display: inline-block;
  position: relative;
  z-index: 1;
  grid-area: 8 / 8 / 8 / 11;
  font-size: clamp(1rem, 3vw, 2rem);
  color: #acc8e5;
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.welcome-item-background-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ab4ce;
  width: 100%;
  grid-area: 11 / 1 / 13 / 13;
}



.next {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: clamp(50px, 5vw, 200px);
  width: clamp(50px, 5vw, 200px);

  background-color: #2e363d;
  font-size: clamp(1rem, 2vw, 2rem);
  color: #acc8e5;
}

.background {
  scroll-snap-align: start;
  background-color: #acc8e5;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.background::after {
  content: "";
  background-color: #9ab4ce;
  width: 100%;
  height: 15vh;
  left: 0px;
  position: absolute;
}

.background::before {
  content: "";
  background-color: #9ab4ce;
  width: 100%;
  height: 15vh;
  left: 0px;
  position: absolute;
  bottom: 0px;
}

.about-title {
  color:#acc8e5;
  position: relative;
  margin: auto;
  z-index: 1;
  margin-left: 6vw;
  margin-top: 7vh;
  display: flex;
  padding: 2rem 2rem;
  z-index: 1;
  font-size: clamp(1.4rem, 3.5rem, 5vw);
  font-weight: 400;
   background-color: #2e363d;
   border-radius: 9999px;
}




.about-p {
  position: relative;
  z-index: 1;
  background-color: #9ab4ce;
  font-size: clamp(1rem, 3vw, 2rem);
 
  
  margin-left: 30vw;
 
  max-height: 30%;
  max-width: fit-content;
  display: flex;
  align-items: center;
   border-radius: 9999px;
   

}




.about-list {
  z-index: 1;
  font-size: clamp(1rem, 3vw, 2rem);
  margin: auto;
 transform: translateY(-17vh);
  margin-left: 50vw;
  border-radius: 9999px;
  background-color: #9ab4ce;
  position: relative;
  max-width: fit-content;
 width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;


}

.about-more-p {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
  
  width: 100%;
  height: 100%;
}

.tg-bot {
  display: flex;
  flex-direction: column;
  
  z-index: 2;
  position: relative;;
 
  width: 100%;
 
}

.tg-bot-h2 {
  font-size: clamp(1rem, 3vw, 2rem);

}

.about-more-main {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}


.tg-bot-ul {
  padding-left: 10%;
}


.tg-bot1 {
  z-index: 2;
  position: relative;;
  background-color: red;
  width: 100%;
 
}

.tg-bot2 {
  z-index: 2;
  position: relative;;
  background-color: green;
  width: 100%;
 
}



h1,
h2,
header, .about-p {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
